
<!DOCTYPE html>
<html>
<head>
  <title>BikeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header"></div>

<nav id = "nav">
  <div id ="page_links">
  <% if user_signed_in? %>
      <%= link_to "Home", root_path %>
      <%= link_to "About",page_About_path %>
      <%= link_to "Rent", bikes_path %>
      <%= link_to "FAQs", page_FAQs_path %>
      <%= link_to "User", user_index_path %>
      <%= link_to "Contact", page_Contact_path %>
      
  <% else %>
    <%= link_to "Home", root_path %>
    <%= link_to "About", page_About_path %>
    <%= link_to "FAQs", page_FAQs_path %>
    <%= link_to "Contact", page_Contact_path %>
  <% end %>
  
</div>
     
  <div id = "login_links">
    <% if user_signed_in? %>
      <%= link_to "User Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "User Login", new_user_session_path %>
      <%= link_to "Create User Profile", new_user_registration_path %>
      
    <% end %>
  </div>
</nav>

  <div id="main_wrapper">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
